<div class='login-signup'>
    <div class='login'>
        <h2>Login</h2>

        <form id='login-form'>
        <div class='emailOrUsername-login-form'>
            <label for='emailOrUsername-label'>email or username:</label>
            <input class='emailOrUsername-login' type='text' id='emailOrUsername-login' />
        </div>
        <div class='password-login-form'>
            <label for='password-login-label'>password:</label>
            <input class='password-login-input' type='password' id='password-login' />
        </div>
        <div class='login-submit-button'>
            <button class='login-submit' type='submit'>login</button>
        </div>
        </form>
    </div>
    <div class='signup'>
        <h2>Signup</h2>

        <form id='signup-form'>
        <div class='username-signup-form'>
            <label for='username-signup-label'>username:</label>
            <input class='username-signup-input' type='text' id='username-signup' />
        </div>
        <div class='email-signup-form'>
            <label for='email-signup-label'>email:</label>
            <input class='email-signup-input' type='text' id='email-signup' />
        </div>
        <div class='password-signup-form'>
            <label for='password-signup-label'>password:</label>
            <input class='password-signup-input' type='password' id='password-signup' />
        </div>
        <div class='signup-submit-button'>
            <button class='signup-submit' type='submit'>signup</button>
        </div>
        </form>
    </div>
</div>

<script src='./js/login.js'></script>