<div> 
  <h3>
    Create a new Code Snippet
  </h3>
  <form id="new-snippet-form">

    <div> 
      <label for="title">Title</label><br>
      <input type="text" id="title" name="title"><br>
    </div>
    
    <div> 
      <label for="content">Code Snippet</label><br>
      <input type="text" id="new-snippet" name="new-snippet" value="Your code snippet goes here">
    </div>

    <div class="">
      <button type="submit" class="">Create</button>
    </div>
{{!-- tags? --}}
  </form>
</div>

<script src="/js/new.js"></script>
