/* Navigation */
nav {
  position: relative;
  z-index: 1;
}

main {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: bottom;
  font-family: 'Saira Condensed', sans-serif;
  position: relative;
  padding-bottom: 8rem;
}

/* -------------------------------- */
#sidenav-overlay {
  z-index: 0 !important;
}

.side-nav {
  z-index: 9999 !important;
}
.flex {
  display: flex;
}

.history {
  width: 60%;
}

#create-post {
  width: 35%;
  height: 100%;
}
.createBtnDiv {
  display: flex;
  justify-content: center;
}
.createBtn {
  margin: 0 auto;
}

.feed-title {
  text-align: center;
  margin-bottom: 30px;
}

.terms-box {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.small-font {
  font-size: 12px;
}

/* Post Container */
.post-container {
  margin: 30px 0;
  padding: 10px;
  border-radius: 30px;
  background-color: #eae7e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Snippet Box */
div.snippet-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.snippet-box h3 {
  font-size: 25px;
}

.snippet-box pre {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}

.snippet-box .language {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: right;
}

.snippet-box p.metadata {
  font-size: 12px;
  color: #888888;
}

/* Inner Box */
div.inner-box {
  flex-grow: 1;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

div.inner-box pre {
  border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.center-align {
  text-align: center;
  margin-bottom: 20px;
}

.language {
  text-align: right;
}

/* Signup Container */
#signup {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* #signup .card-content {
  padding: 0;
} */

#signup .card-title {
  font-size: 25px;
  margin-bottom: 20px;
}

#signup form {
  margin-top: 20px;
}

#signup .input-field {
  margin-bottom: 20px;
}

#signup button {
  margin-top: 20px;
}

/* Login Container */
#login {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
}

/* #login .card-content {
  padding: 0;
} */

#login .card-title {
  font-size: 25px;
  margin-bottom: 20px;
}

#login form {
  margin-top: 20px;
}

#login .input-field {
  margin-bottom: 20px;
}

#login button {
  margin-top: 20px;
}

/* Footer */
footer {
  position: absolute;
  display: inline-block;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  font-size: 10px;
  color: #888888;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copy {
  font-size: 10px;
  text-align: center;
  margin-right: -10%;
}

footer .success-text {
  font-size: 30px;
  color: #58aaf2;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

footer .sub-text {
  font-size: 15px;
  color: #f0f2f5;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .createPostRow {
    flex-direction: column;
  }
  .history {
    width: 90%;
  }

  #create-post {
    width: 90%;
    margin: 20px auto 15px auto;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    display: none !important;
  }
}
